<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="baidu">
    <test name="baidu">
    	<parameter name="sitecd" value="IBDB"/>
        <classes>
            <class name="com.testcase.FreshHomeTest"></class>
            <class name="com.testcase.SearchTest"></class>
        </classes>
    </test>
</suite>